#toplevel_page_shuttle-setup .wp-menu-image img {opacity: 1 !important;}
#toplevel_page_shuttle-setup .shuttle-sidebar-upgrade-pro {background: #25ab6c !important;}
#toplevel_page_shuttle-setup .shuttle-sidebar-upgrade-pro a {color: #fff !important;}