.elementor-300 .elementor-element.elementor-element-f432168 {text-align: left;}
.elementor-300 .elementor-element.elementor-element-f432168 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-300 .elementor-element.elementor-element-f0cef8d {text-align: left;}
.elementor-300 .elementor-element.elementor-element-f0cef8d > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-300 .elementor-element.elementor-element-50142ba > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 0px 0px 0px;}
.elementor-300 .elementor-element.elementor-element-50142ba > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-300 .elementor-element.elementor-element-f945eff {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-300 .elementor-element.elementor-element-f945eff .elementor-divider-separator {width: 100%;}
.elementor-300 .elementor-element.elementor-element-f945eff .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-300 .elementor-element.elementor-element-1097a7c {text-align: center;}
.elementor-300 .elementor-element.elementor-element-1097a7c .elementor-heading-title {color: #424242;font-family: "Helvetica",Sans-serif;font-weight: 600;}
.elementor-300 .elementor-element.elementor-element-1097a7c > .elementor-widget-container {padding: 60px 50px 80px 50px;}
.elementor-300 .elementor-element.elementor-element-3890f2e {text-align: left;}
.elementor-300 .elementor-element.elementor-element-3890f2e > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-300 .elementor-element.elementor-element-b3c5ebd {text-align: left;}
.elementor-300 .elementor-element.elementor-element-b3c5ebd > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
@media (min-width:768px) {.elementor-300 .elementor-element.elementor-element-ed8419a {width: 50.535%;}
	.elementor-300 .elementor-element.elementor-element-68dd9ee {width: 49.465%;}
	.elementor-300 .elementor-element.elementor-element-6333088 {width: 20%;}
	.elementor-300 .elementor-element.elementor-element-39fa517 {width: 80%;}
	.elementor-300 .elementor-element.elementor-element-90504d7 {width: 58.304%;}
	.elementor-300 .elementor-element.elementor-element-454e372 {width: 41.652%;}
	.elementor-300 .elementor-element.elementor-element-1d9e22a {width: 20%;}
	.elementor-300 .elementor-element.elementor-element-e5b0b28 {width: 80%;}
	.elementor-300 .elementor-element.elementor-element-6a9796f {width: 49.602%;}
	.elementor-300 .elementor-element.elementor-element-67666a6 {width: 50.398%;}
	.elementor-300 .elementor-element.elementor-element-1f1aea3 {width: 50.439%;}
	.elementor-300 .elementor-element.elementor-element-d209b13 {width: 49.561%;}
	.elementor-300 .elementor-element.elementor-element-af60e14 {width: 20%;}
	.elementor-300 .elementor-element.elementor-element-5edbfc2 {width: 80%;}}