.elementor-302 .elementor-element.elementor-element-a5dbdb7 {text-align: left;}
.elementor-302 .elementor-element.elementor-element-a5dbdb7 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-302 .elementor-element.elementor-element-0bcaaf7 {text-align: left;}
.elementor-302 .elementor-element.elementor-element-0bcaaf7 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-302 .elementor-element.elementor-element-d8e5401 .elementor-wrapper {aspect-ratio: 4/3;}
.elementor-302 .elementor-element.elementor-element-a36a09e {text-align: left;}
.elementor-302 .elementor-element.elementor-element-a36a09e .elementor-heading-title {color: #4d4e51;font-family: "Arial",Sans-serif;font-size: 10px;font-weight: 100;font-style: italic;text-decoration: none;line-height: 9px;}
.elementor-302 .elementor-element.elementor-element-7aecf18 img {border-style: none;}
.elementor-302 .elementor-element.elementor-element-57f2ef9 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-302 .elementor-element.elementor-element-57f2ef9 .elementor-divider-separator {width: 100%;}
.elementor-302 .elementor-element.elementor-element-57f2ef9 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-302 .elementor-element.elementor-element-95c6df8 {text-align: center;}
.elementor-302 .elementor-element.elementor-element-95c6df8 .elementor-heading-title {color: #424242;font-family: "Helvetica",Sans-serif;font-weight: 600;}
.elementor-302 .elementor-element.elementor-element-95c6df8 > .elementor-widget-container {padding: 60px 50px 80px 50px;}
.elementor-302 .elementor-element.elementor-element-6c74b89 {text-align: left;}
.elementor-302 .elementor-element.elementor-element-6c74b89 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-302 .elementor-element.elementor-element-141bbe2 {text-align: left;}
.elementor-302 .elementor-element.elementor-element-141bbe2 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-302 .elementor-element.elementor-element-cc29d14 img {border-style: none;}
@media (min-width:768px) {.elementor-302 .elementor-element.elementor-element-9f66983 {width: 47.409%;}
	.elementor-302 .elementor-element.elementor-element-16a50c5 {width: 52.591%;}
	.elementor-302 .elementor-element.elementor-element-92cdef0 {width: 20%;}
	.elementor-302 .elementor-element.elementor-element-9a9cbd6 {width: 80%;}
	.elementor-302 .elementor-element.elementor-element-1d144d7 {width: 44.731%;}
	.elementor-302 .elementor-element.elementor-element-2f7c4b4 {width: 55.225%;}
	.elementor-302 .elementor-element.elementor-element-f06d423 {width: 29.033%;}
	.elementor-302 .elementor-element.elementor-element-dfca7a1 {width: 38.439%;}
	.elementor-302 .elementor-element.elementor-element-c43d73d {width: 32.194%;}
	.elementor-302 .elementor-element.elementor-element-a8a4e7c {width: 20%;}
	.elementor-302 .elementor-element.elementor-element-58c58da {width: 80%;}
	.elementor-302 .elementor-element.elementor-element-dfdb448 {width: 45.788%;}
	.elementor-302 .elementor-element.elementor-element-79a3cab {width: 54.168%;}
	.elementor-302 .elementor-element.elementor-element-fe6dfe5 {width: 47.409%;}
	.elementor-302 .elementor-element.elementor-element-6885b9f {width: 52.591%;}
	.elementor-302 .elementor-element.elementor-element-2d4a1a4 {width: 21.617%;}
	.elementor-302 .elementor-element.elementor-element-2d0f7e4 {width: 24.938%;}
	.elementor-302 .elementor-element.elementor-element-e59f60a {width: 27.288%;}
	.elementor-302 .elementor-element.elementor-element-0883c38 {width: 26.134%;}
	.elementor-302 .elementor-element.elementor-element-5d0ee1f {width: 20%;}
	.elementor-302 .elementor-element.elementor-element-2991379 {width: 80%;}
	.elementor-302 .elementor-element.elementor-element-36bbc0d {width: 39.385%;}
	.elementor-302 .elementor-element.elementor-element-be4f5f7 {width: 39.052%;}
	.elementor-302 .elementor-element.elementor-element-8719759 {width: 20.838%;}
	.elementor-302 .elementor-element.elementor-element-7d99336 {width: 20%;}
	.elementor-302 .elementor-element.elementor-element-1479d35 {width: 80%;}
	.elementor-302 .elementor-element.elementor-element-12f99df {width: 55.901%;}
	.elementor-302 .elementor-element.elementor-element-303269d {width: 44.099%;}}