@media (min-width:768px) {.elementor-295 .elementor-element.elementor-element-65ab2d6 {width: 50.876%;}
	.elementor-295 .elementor-element.elementor-element-01fb2f9 {width: 49.08%;}
	.elementor-295 .elementor-element.elementor-element-4bf34ef {width: 39.123%;}
	.elementor-295 .elementor-element.elementor-element-702ab8c {width: 60.877%;}
	.elementor-295 .elementor-element.elementor-element-cf34127 {width: 65.965%;}
	.elementor-295 .elementor-element.elementor-element-ed202ce {width: 34.035%;}}