.elementor-396 .elementor-element.elementor-element-4e85583 {text-align: left;}
.elementor-396 .elementor-element.elementor-element-4e85583 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-396 .elementor-element.elementor-element-c51637c {text-align: left;}
.elementor-396 .elementor-element.elementor-element-c51637c > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-396 .elementor-element.elementor-element-e889b69 {text-align: center;}
.elementor-396 .elementor-element.elementor-element-e889b69 > .elementor-widget-container {padding: 42px 0px 0px 0px;}
.elementor-396 .elementor-element.elementor-element-c4e31c3 > .elementor-widget-container {padding: 88px 0px 0px 0px;}
.elementor-396 .elementor-element.elementor-element-fdbf38d {text-align: center;}
.elementor-396 .elementor-element.elementor-element-f7ff535 .elementor-wrapper {aspect-ratio: 16/9;}
@media (min-width:768px) {.elementor-396 .elementor-element.elementor-element-59b67e6 {width: 50.535%;}
	.elementor-396 .elementor-element.elementor-element-6ab2c4f {width: 49.465%;}
	.elementor-396 .elementor-element.elementor-element-20e8cc2 {width: 20%;}
	.elementor-396 .elementor-element.elementor-element-1a66726 {width: 80%;}
	.elementor-396 .elementor-element.elementor-element-2632d75 {width: 24.939%;}
	.elementor-396 .elementor-element.elementor-element-7d84f43 {width: 43.803%;}
	.elementor-396 .elementor-element.elementor-element-9cd4508 {width: 30.924%;}
	.elementor-396 .elementor-element.elementor-element-2e4a4c9 {width: 20%;}
	.elementor-396 .elementor-element.elementor-element-ef82c6d {width: 80%;}
	.elementor-396 .elementor-element.elementor-element-f6094b9 {width: 20%;}
	.elementor-396 .elementor-element.elementor-element-32a59fe {width: 80%;}
	.elementor-396 .elementor-element.elementor-element-16d0180 {width: 43.156%;}
	.elementor-396 .elementor-element.elementor-element-ce70c3c {width: 56.844%;}}