.elementor-293 .elementor-element.elementor-element-2283f32 {text-align: left;}
.elementor-293 .elementor-element.elementor-element-2283f32 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-293 .elementor-element.elementor-element-88dd31e {text-align: left;}
.elementor-293 .elementor-element.elementor-element-88dd31e > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-293 .elementor-element.elementor-element-1540ecd > .elementor-widget-container {margin: 0px 300px 0px 300px;}
.elementor-293 .elementor-element.elementor-element-e281d22 {--spacer-size: 50px;}
.elementor-293 .elementor-element.elementor-element-ac17a41 > .elementor-widget-container {margin: 1px 300px 1px 300px;}
.elementor-293 .elementor-element.elementor-element-62627c6 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-293 .elementor-element.elementor-element-02071ca {--spacer-size: 50px;}
.elementor-293 .elementor-element.elementor-element-a688ea4 {--spacer-size: 50px;}
@media (min-width:768px) {.elementor-293 .elementor-element.elementor-element-8779bb7 {width: 50.535%;}
	.elementor-293 .elementor-element.elementor-element-5a954ff {width: 49.465%;}
	.elementor-293 .elementor-element.elementor-element-f38f148 {width: 20%;}
	.elementor-293 .elementor-element.elementor-element-0637718 {width: 80%;}
	.elementor-293 .elementor-element.elementor-element-fa721a5 {width: 20%;}
	.elementor-293 .elementor-element.elementor-element-986921a {width: 80%;}
	.elementor-293 .elementor-element.elementor-element-9952fbc {width: 20%;}
	.elementor-293 .elementor-element.elementor-element-a978956 {width: 80%;}
	.elementor-293 .elementor-element.elementor-element-35f8a34 {width: 20%;}
	.elementor-293 .elementor-element.elementor-element-f73a7bb {width: 80%;}}