@media (min-width:768px) {.elementor-9 .elementor-element.elementor-element-64da544 {width: 35.089%;}
	.elementor-9 .elementor-element.elementor-element-ddd6cc5 {width: 64.911%;}
	.elementor-9 .elementor-element.elementor-element-c161b29 {width: 35.089%;}
	.elementor-9 .elementor-element.elementor-element-afe37f2 {width: 64.911%;}
	.elementor-9 .elementor-element.elementor-element-22fa6e3 {width: 35.089%;}
	.elementor-9 .elementor-element.elementor-element-6948a38 {width: 64.911%;}
	.elementor-9 .elementor-element.elementor-element-dee7f1e {width: 35.089%;}
	.elementor-9 .elementor-element.elementor-element-8e46ea1 {width: 64.911%;}
	.elementor-9 .elementor-element.elementor-element-1d5a625 {width: 35.089%;}
	.elementor-9 .elementor-element.elementor-element-e2b4835 {width: 64.911%;}}