.elementor-290 .elementor-element.elementor-element-c4e5436 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-290 .elementor-element.elementor-element-c4e5436 .elementor-divider-separator {width: 100%;}
.elementor-290 .elementor-element.elementor-element-c4e5436 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-290 .elementor-element.elementor-element-f7b36d5 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-290 .elementor-element.elementor-element-f7b36d5 .elementor-divider-separator {width: 100%;}
.elementor-290 .elementor-element.elementor-element-f7b36d5 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-290 .elementor-element.elementor-element-3e719cd .elementor-wrapper {aspect-ratio: 9/16;}
.elementor-290 .elementor-element.elementor-element-2a53992 .elementor-wrapper {aspect-ratio: 9/16;}
.elementor-290 .elementor-element.elementor-element-4e059f2 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-290 .elementor-element.elementor-element-4e059f2 .elementor-divider-separator {width: 100%;}
.elementor-290 .elementor-element.elementor-element-4e059f2 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-290 .elementor-element.elementor-element-6fc1a88 .elementor-wrapper {aspect-ratio: 9/16;}
@media (min-width:768px) {.elementor-290 .elementor-element.elementor-element-e6f1fe9 {width: 20%;}
	.elementor-290 .elementor-element.elementor-element-3ba970e {width: 80%;}
	.elementor-290 .elementor-element.elementor-element-454fb5d {width: 20%;}
	.elementor-290 .elementor-element.elementor-element-4459592 {width: 80%;}
	.elementor-290 .elementor-element.elementor-element-a77cb74 {width: 36.279%;}
	.elementor-290 .elementor-element.elementor-element-de278a2 {width: 31.658%;}
	.elementor-290 .elementor-element.elementor-element-66eb5da {width: 31.729%;}
	.elementor-290 .elementor-element.elementor-element-57f736b {width: 20%;}
	.elementor-290 .elementor-element.elementor-element-dc63a95 {width: 80%;}
	.elementor-290 .elementor-element.elementor-element-e757f53 {width: 65.778%;}
	.elementor-290 .elementor-element.elementor-element-7c1e059 {width: 34.177%;}}