.elementor-393 .elementor-element.elementor-element-045c3f3 {text-align: left;}
.elementor-393 .elementor-element.elementor-element-045c3f3 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-393 .elementor-element.elementor-element-4dad7f8 {text-align: left;}
.elementor-393 .elementor-element.elementor-element-4dad7f8 > .elementor-widget-container {border-style: solid;border-width: 1px 0px 0px 0px;}
.elementor-393 .elementor-element.elementor-element-21d05ff {text-align: center;}
.elementor-393 .elementor-element.elementor-element-d3e9a41 {--spacer-size: 50px;}
.elementor-393 .elementor-element.elementor-element-1dab30b {text-align: left;}
.elementor-393 .elementor-element.elementor-element-9991d83 {--spacer-size: 50px;}
.elementor-393 .elementor-element.elementor-element-d7f285c .elementor-wrapper {aspect-ratio: 16/9;}
.elementor-393 .elementor-element.elementor-element-d7f285c:hover .elementor-widget-container {background-color: transparent;background-image: linear-gradient(180deg,rgba(77,87,115,0) 0%,rgba(242,41,91,0) 100%);}
.elementor-393 .elementor-element.elementor-element-0651b87 {text-align: center;}
.elementor-393 .elementor-element.elementor-element-0651b87 .elementor-heading-title {color: #4d4e51;font-family: "Arial",Sans-serif;font-size: 12px;font-weight: 100;font-style: italic;text-decoration: none;line-height: 1px;}
.elementor-393 .elementor-element.elementor-element-aeadea7 .elementor-wrapper {aspect-ratio: 16/9;}
.elementor-393 .elementor-element.elementor-element-3c0300f {text-align: center;}
.elementor-393 .elementor-element.elementor-element-3c0300f .elementor-heading-title {color: #4d4e51;font-family: "Arial",Sans-serif;font-size: 12px;font-weight: 100;font-style: italic;text-decoration: none;line-height: 1px;}
.elementor-393 .elementor-element.elementor-element-09a38d1 {--spacer-size: 50px;}
.elementor-393 .elementor-element.elementor-element-6666ef7 {text-align: center;}
.elementor-393 .elementor-element.elementor-element-158bcb6 {--spacer-size: 50px;}
.elementor-393 .elementor-element.elementor-element-075ecc0 {text-align: center;}
.elementor-393 .elementor-element.elementor-element-fbc53e5 {text-align: center;}
.elementor-393 .elementor-element.elementor-element-508dc9e {--spacer-size: 50px;}
.elementor-393 .elementor-element.elementor-element-af96f84 {text-align: center;}
.elementor-393 .elementor-element.elementor-element-e5622a2 {--spacer-size: 50px;}
@media (min-width:768px) {.elementor-393 .elementor-element.elementor-element-5280c5f {width: 50.535%;}
	.elementor-393 .elementor-element.elementor-element-8f3e2bb {width: 49.465%;}
	.elementor-393 .elementor-element.elementor-element-05ab8c2 {width: 20%;}
	.elementor-393 .elementor-element.elementor-element-3212dc3 {width: 80%;}
	.elementor-393 .elementor-element.elementor-element-ce89cd6 {width: 20%;}
	.elementor-393 .elementor-element.elementor-element-916ad2f {width: 80%;}
	.elementor-393 .elementor-element.elementor-element-09a1d33 {width: 20%;}
	.elementor-393 .elementor-element.elementor-element-b126bc4 {width: 80%;}
	.elementor-393 .elementor-element.elementor-element-fb186e9 {width: 56.875%;}
	.elementor-393 .elementor-element.elementor-element-1ff8625 {width: 43.081%;}
	.elementor-393 .elementor-element.elementor-element-031ddde {width: 32.708%;}
	.elementor-393 .elementor-element.elementor-element-d8655d8 {width: 32.553%;}
	.elementor-393 .elementor-element.elementor-element-b7c191c {width: 34.072%;}
	.elementor-393 .elementor-element.elementor-element-80c1968 {width: 20%;}
	.elementor-393 .elementor-element.elementor-element-6bfe4b7 {width: 80%;}
	.elementor-393 .elementor-element.elementor-element-c1c81ac {width: 43.482%;}
	.elementor-393 .elementor-element.elementor-element-e597c98 {width: 56.518%;}
	.elementor-393 .elementor-element.elementor-element-db7f634 {width: 20%;}
	.elementor-393 .elementor-element.elementor-element-b5117b7 {width: 80%;}
	.elementor-393 .elementor-element.elementor-element-b90ccb8 {width: 53.264%;}
	.elementor-393 .elementor-element.elementor-element-e272549 {width: 46.736%;}
	.elementor-393 .elementor-element.elementor-element-c26435c {width: 20%;}
	.elementor-393 .elementor-element.elementor-element-e1083db {width: 80%;}
	.elementor-393 .elementor-element.elementor-element-2287dd1 {width: 56.518%;}
	.elementor-393 .elementor-element.elementor-element-6b55a7d {width: 43.482%;}}